body {
  color:#F5F5DC;
}
a{
  text decoration: none;
}
img {
  display:block;
}
footer{
  padding:3%;
}
header nav {
  background-color: #000;
    margin-bottom: 1%;
}
header nav .menu{
  margin:0;
padding :1%;
}
header nav .menu li{
  dispaly:inline;
  margin-right: 1em;
}
header nav .menu a:hover{
  color:yellow;
}
.hero{
  text align: center;
  padding: 5% 0;
  height:100vh;
  background-image url (https://picsum.photos/200/300/?blur)
}

display:flex;
flex-wrap: wrap;
justify-content: space-between;